body{
	background:#333;
}

.ball{

height:300px;
width:300px;
position:absolute;
top:50%;
left:50%;
background-color: pink;
margin:-150px;
animation-name: Yashvi;
animation-duration: 2s;
animation-iteration-count: infinite;
}

@keyframes Yashvi{

	0% {
		background-color: white;
		border-radius: 0 0 0 0;
}

20%{
	
background-color: red;
		border-radius: 50% 0 0 0;	
}


50%{
	background-color: green;
		border-radius: 50% 50% 0 0;
}

75%{
	background-color: blue;
		border-radius: 50% 50% 50% 0;
}

100%{
	background-color: white;
		border-radius: 50% 50% 50% 50%;
}




}